<div class="row">
  <div class="cart">
    <ul class="list-group-item">
      <li class="list-group-item">
        <p>¿Desea finalizar su compra y continuar vía Whatsapp?</p>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-center">
          <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title">
            <button class="btn btn-danger" target="_blank">Continuar</button>
          </jjva-ngx-whatsapp-button>

        </div>
      </li>
    </ul>
  </div>
</div>
